*.d
*.o
*.elf
*.bin
*.exe
*.dll
*.lib
*.pdb
*.exp
*.nrm
*.thunderstore.zip
./funcs.h
patches.map
build/
runtime/
assets_extracted/
.vscode/launch.json
.vscode/settings.json
.vscode/tasks.json
**/__pycache__
